.darktabs {
    border-bottom-color: #040404;
}

.menubar {
    width: 10%;
    float: left;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    min-height: 600px;
    height: 100%;
    background-color: #373737;
    border-top: 1px solid #100E10;
    border-bottom: 1px solid #100E10;

}

.assestsJQList {
    position: relative;

}

#leftTree {
    padding-left: 15px;
    margin-top: 5px;
}

.logo {
    padding: 25px 0 0 0;
    overflow: hidden;
    /*background-image: 'url("'+EngineGraphicsData.getBaseUrl()+'+")';*/
    background-image: url("/delivery/pages/pub/graphics/screens/home/images/cs_logo.png");
}

.profileLogo {
    margin: 0 0 0 0;
    float: right;
    visibility: hidden;
}

.wrapper {
    float: right;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 4px solid white;
    overflow: hidden;
    margin: 5px 35px 0 0;
    visibility: hidden;
}

.logobounce {
    height: 64px;
    width: 300px;
    float: left;
}

.logoutdiv {
    height: 64px;
    width: 64px;
    float: right;
}

#leftbar {
    width: 25px;
    background-color: #262626;
    float: left;
    height: 100%;
}

.logout {
    border: #fbb450;
    float: right;
    margin: 15px 10px 0 0;
    visibility: hidden;
    height: 40px;
    width: 40px;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    /* This removes the border around the viewport in old versions of IE */
    width: 100%;
    min-height: 100%;
    color: #333333;
    background-color: #ececec;
    font-family: calibri;
    /* Minimum width of layout - remove line if not required */
    /* The min-width property does not work in old versions of Internet Explorer */
    font-size: 90%;
    overflow: hidden;
}

a {
    color: #369;
}

/*a:hover {
    color: #fff;
    background: #369;
    text-decoration: none;
}*/

h1, h2, h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}

/*p {
    margin:.4em 0 .8em 0;
    padding:0;
}*/
img {
    margin: 0px 0 5px;
}

#ads img {
    display: block;
    padding-top: 10px;
}

/* Header styles */
.header {
    position: relative;
    background-color: #343434;
    top: 0px;
    clear: both;
    float: left;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #565656;
    overflow: hidden;

}

.animatedbounce {
    margin: 12px 0 0 10px;
}

/*#header p,
#header h1,
#header h2 {
    padding:.4em 15px 0 15px;
    margin:0;
}
#header ul {
    clear:left;
    float:left;
    width:100%;
    list-style:none;
    margin:10px 0 0 0;
    padding:0;
}
#header ul li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}
#header ul li a {
    display:block;
    float:left;
    margin:0 0 0 1px;
    padding:3px 10px;
    text-align:center;
    background:#eee;
    color:#000;
    text-decoration:none;
    position:relative;
    left:15px;
    line-height:1.3em;
}
#header ul li a:hover {
    background:#369;
    color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
    color:#fff;
    background:#000;
    font-weight:bold;
}
#header ul li a span {
    display:block;
}*/
/* 'widths' sub menu */
#layoutdims {
    clear: both;
    background: #eee;
    border-top: 4px solid #000;
    margin: 0;
    padding: 6px 15px !important;
    text-align: right;
}

/* column container */
.colmask {
    position: relative; /* This fixes the IE7 overflow hidden bug */
    /*clear:both;*/
    float: left;
    min-width: 500px;
    width: 100%; /* width of whole page */
    height: 600px !important;
    /*overflow:hidden;		*//* This chops off any overhanging divs */
}

/* common column settings */
.colleft {
    float: left;
    width: 20%;
    height: 100%;
    min-height: 500px;
    position: relative;
    margin-left: 0px;
    overflow-x: scroll;
    overflow-y: scroll;
    overflow: visible;
    background-color: white;
}

.colmid {
    float: left;
    position: relative;
    margin-left: 0px;
    height: 100px;
    min-height: 500px;
    width: 0.5%;
    background-color: #BBBBBB;
}

.colmenu {
    float: left;
    margin-left: 0px;
    position: relative;
    width: 30px;
    background-color: #000000;
    height: 100%;

}

.colright {
    float: left;
    position: relative;
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    height:auto;
    margin-left: 0px;
}

/* 2 Column (left menu) settings */
.leftmenu {
    background: #fff; /* right column background colour */
}

.leftmenu {
    right: 75%; /* right column width */
    background: #f4f4f4; /* left column background colour */
}

.leftmenu .col1 {
    width: 71%; /* right column content width */
    left: 102%; /* 100% plus left column left padding */
}

.leftmenu .col2 {
    width: 21%; /* left column content width (column width minus left and right padding) */
    left: 6%; /* (right column left and right padding) plus (left column left padding) */
}

.leftmenu .col3 {
    display: inline-block;
    vertical-align: bottom;
    width: 2%;
    left: 6%;
    height: 550px;
    /*margin-top: -99999px;*/
    background: #888; /* (right column left and right padding) plus (left column left padding) */
}

.separator {
    display: inline-block;
    vertical-align: bottom;
    width: 5%;
    left: 6%;
    height: 99999px;
    margin-top: -99999px;
    background: #888;
}

/* Footer styles */
/*
#footer {
    clear:both;
    float:left;
    width:100%;
    border-top:1px solid #000;

}
*/
/*
.footer p {
  */
/*  padding:10px;
    margin:0;*//*

    font-size: 15px;
}
*/

/*
Top Bar Animation Section starts
  */
.selectLblCSS {
    text-align: center;
    background-image: url('/delivery/pages/pub/graphics/screens/home/images/grad.png');
    background-repeat: repeat-x;
    font-family:tahoma;
    font-size: 12px;
    height: auto;
    color: #505050;
    font-weight: bolder;
    /* padding-top: 5px;*/
    /* background-color: #EEEEEE;*/
    cursor: pointer;



}

.customSelectCSS {
    position: relative;
    width: 80%;
}

.mainAnimationContainerCSS {
    vertical-align: middle;
    background-color: white;
    min-height: 35px;
    height: auto;
    padding: 3px;
    display: none;

    border-bottom: 1px solid #bbbbbb;
}

.formatTxt {
    margin: 5px;
    vertical-align: middle;
    width: auto;
    /* min-height: 27px;*/
    height: auto;
    line-height: 16px;
    /* background-color: #EEEEEE;*/
    background-image: url('/delivery/pages/pub/graphics/screens/home/images/grad.png');
    background-repeat: repeat-x;
    float: left;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    font-family: tahoma;
    color: #505050;

    /* border-bottom: 1px solid #BBBBBB;*/

    margin-left: 10px;
}

/*
Top Bar Animation Section Ends
  */

/*
    * CSS designed for index.html
    * Created by Ravi Sharma.
    * User: cs6
    * Date: 25/07/13
    * Time: 1:30 PM
*/


html{
    height: 100%;
}

.holder {
    min-height: 100%;
    position: relative;
}

/*p{
    font-family: arial;
    font-size: 14pt;
}*/

.logo {
    padding: 15px 20px 10px 10px;
}

.logoutBtnCSS {
    border: #fbb450;
    float: right;
    margin: 15px 10px 0px 0px;
}

/*
Top Bar Animation Section starts
  */

/* Top Bar Animation Section Ends  */

/*
.header{
    height: 60px;
    clear:both;
    float:left;
    width:100%;
    border-bottom:1px solid #000;
}*/

.loginViewContainerCSS {
    padding: 15px 20px 10px 10px;
}

.legendCSS {
    padding: 0px 0px 0px 0px;
}

.mainContainer {
    height: 630px;
    float: left;
    position: relative;
    width: 100%;
    margin-top: 0px;
    overflow: auto;
    border-bottom: 1px solid #bbb;
    /*position: relative;*/
}

.container {
    width: 100%;
    padding-left: 100px;
    background-color: white;
    border-bottom: 2px solid #565656;
}

.UIContainer {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: #999999;
}

#leftPanel {
    width:100%;
    height: 100%;
    float:left;
    position: relative;
    background-color: white;
    min-height: 600px;
    overflow:auto;
    /* border-right: #0e0e0e solid thin;*/
    margin-left: 0px;
    margin-top: 0px;
}

#rightPanel {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    float: left;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#lefttree {
    padding-left: 5px;
}

#rightPanelView {
    height: 100%;
    width: 99%;
    float: left;
    position: relative;
    overflow-x: hidden;
}

.footer {
    /*float: left;*/
    position: relative;
    background-image: url('/delivery/pages/pub/graphics/screens/home/images/grad.png');
    height: 27px;
    width: 100%;
    border-top: 1px solid rgb(187, 187, 187);
    border-left: 1px solid rgb(187, 187, 187);
    border-right: 1px solid rgb(187, 187, 187);
    border-bottom: 1px solid rgb(187, 187, 187);
    float: left;
    top: 0px;
}

#footertxt {

    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    font-family: calibri;
}

.notificationCSS {

    font-family: "verdana";
    font-size: 10px;
    text-align: center;
    height: 20px;

    border: #0e0e0e solid thin;
    /*
    border-right: #0e0e0e solid thin;
    border-bottom: #0e0e0e solid thin;
      */
    position: fixed;

    left: 45%;
    margin-left: -150px;
    top: 40px;
    background-color: #bfbfbf;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.notificationTxtCSS {
    font-size: 12px;
}

#dim {
    position: relative;
    float: left;
    background-color: white;
    margin-left: 0;
    width: 100%;
    margin-right:0;
    height: 100%;
}

/* Right hand side Panel viewHolderCSS */

.viewHolderCSS {
    padding: 0px;
    position: relative;
    float: left;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    min-height: 550px;
    /* overflow-x:scroll;
     overflow-y: scroll;*/
}

/* CSS for Assortment Panel*/

#assortPanel {
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid #999999;
    position: relative;
    float: left;
    width: 70%;
    height:585px;
    display: none;
    background-image: url('../images/drag_and_drop.jpg');
    background-repeat: no-repeat;
    z-index: 9999;
    background-position: 30% 30%;
}



#assortPanelHeader {
    position: relative;
    width: 100%;
    margin-top: 0px;
    height: 30px;
    background-color: #EEEEEE;
    text-align: center;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bolder;
}

#subtab1 {
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    text-align: center;
    float: left;
    position: relative;
    width: 100% !important;
    height: 548px !important;
    margin-top: 0px;
    background-image: url('../images/drag_and_drop.jpg');
    background-repeat: no-repeat;
    z-index: 9999;
    background-position: 50% 50%;

}

#subtab2 {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
}

#asBTN {
    margin-top: 15px;

}

/* CSS for laeft slide Panel for Assortment*/

#rightMenuBar {
    z-index: 1000;
    position: fixed;
    width: 29px;
    height:600px;
    float: right;
    right: 1px;
    top:28px;
    background-color: #373737;
    border-left: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
}

#panel {

    text-align: center;
    color: #505050;
    font-family: tahoma;
    font-weight: bold;
    font-size: 12px;
    background-color: #EEEEEE;
    border: 0px;
    position: fixed;
    z-index: 6;
    right: -200px;
    padding: 0px;
    height:595px;
    width: 200px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    transition: visibility 1s;
   display: none;

}

.assetType {
    padding-top: 5px;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #BBBBBB;
    top: 0px;
    background-image: url(../images/icons/grad.png);
    background-size: auto;
    background-repeat: repeat-x;
}

#typeHolder {
    font-weight: bolder;
    width: 100%;
    height: 27px;
    border-bottom: 1px solid #BBBBBB;
    top: 0px;
    background-image: url(../images/icons/grad.png);
    background-size: contain;
    background-repeat: repeat-x;
}

#assetSearch {
    width: 90%;
    height: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}

#assetsTree {
    overflow-x: auto;
    overflow-y: scroll;
    font-weight: lighter;
    margin-top: 5px;
    background-color: white;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    /* border-left: 1px solid #BBBBBB;*/
    /* border-right: 1px solid #BBBBBB;*/
    top: 0px;
    width: 100%;
    height: 280px;
    text-align: left;

}

#assetDetails {
    overflow-x: auto;
    /*
        overflow-y: auto;
    */
    font-weight: lighter;
    font-style: italic;
    margin-top: 3px;
    background-color: white;
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    /* border-left: 1px solid #BBBBBB;*/
    /* border-right: 1px solid #BBBBBB;*/

    top: 0px;
    width: 100%;
    min-height: 250px;

}

#assetSearch input {
    margin-left: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 98%;
}

.rightMenu {
    border-bottom: 1px solid #BBBBBB;
    width: 30px;
    height: 30px;

}

#btnPIM {
    background-image: url("../images/icons/PIM.png");

}

#btnMIM {
    background-image: url("../images/icons/MIM.png");

}

#btnMAM {
    background-image: url("../images/icons/MAM.png");

}

/* Tile, List and Detail View Item Renderer CSS Section Starts */
.tileImgCSS {
    position: absolute;
    top: 50px;
    left: 40px;
    height: 27px;
    width: 60px;
}

.listImgCSS {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 13px;
    width: 30px;
}

.detailImgCSS {
    position: relative;
    top: 10px;
    margin-left: 5px;
    float: left;
    height: 70px;
    width: 70px;
}

.tileListViewImgTxtCSS {
    position: absolute;
    bottom: 0px;
    font-size: 16px;
    text-align: center;
    left: 45px;
}

.tileViewImgTxtCSS {
    position: absolute;

    font-size: 12px;
    text-align: center;
    left: -1px;
    bottom: -12px;
    width: 100%;
    border-top: 1px dotted #303030;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.detailTitleTxtCSS {
    position: relative;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
    height: auto;
    width: auto;
}

.detailContentTxtCSS {
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
    width: auto;
    height: auto;
    float: left;
    height: auto;
}

.detailTitleContent {
    position: relative;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
    height: auto;
    width: auto;

}

.tileDivCSS {
    position: relative;
    float: left;
    height: 160px;
    width: 128px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #BBBBBB;
    border-radius: 12px;
    background-color: #DFDFDF;
}

.listDivCSS {
    position: relative;
    background-color: #DFDFDF;
    float: left;
    height: 35px;
    width: 95%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #BBBBBB;
    border-radius: 12px;
}

.detailDivCSS {
    position: relative;
    background-color: #DFDFDF;
    border: 1px solid #BBBBBB;
    border-radius: 12px;
    float: left;
    height: auto;
    width: 95%;
    padding: 5px;
    margin: 5px;

}

.viewOptionCSS {
    position: relative;
    /*background: 'url("'+EngineDataStore.getBaseURL()+'graphics/screens/home/images/icons/tile.png")';*/
    /*
        background-image: url('../images/icons/');
    */
    background-repeat: repeat-x;
    /*display: none;*/

    /* background-color:#777777;*/
    padding-top: 2px;
    float: left;
    height: 28px;
    /*height: auto;*/
    width: 100%;
    border-bottom: 1px solid #BBBBBB;
    background-image: linear-gradient(rgb(248, 248, 248), rgb(228, 229, 231));
}

.tileBtnCSS {
    /*background: 'url("'+EngineDataStore.getBaseURL()+'graphics/screens/home/images/icons/tile.png")';*/
    background-image: url("../images/icons/tile.png");
    background-repeat: no-repeat;
    border: 0px;
    width: 28px;
    height: 22px;
    margin-top: 2px;
    float: right;
    margin-right: 0px;

}

.listBtnCSS {
    /*background: 'url("'+EngineDataStore.getBaseURL()+'graphics/screens/home/images/icons/list.png")';*/
    background-image: url("../images/icons/list.png");
    background-repeat: no-repeat;
    border: 0px;
    width: 28px;
    height: 22px;
    margin-top: 2px;
    float: right;
    margin-right: 6px;

}

.detailBtnCSS {
    /*background: 'url("'+EngineDataStore.getBaseURL()+'graphics/screens/home/images/icons/detail.png")';*/
    background-image: url("../images/icons/detail.png");
    background-repeat: no-repeat;
    border: 0px;
    width: 28px;
    height: 22px;
    margin-top: 2px;
    float: right;
    margin-right: 6px;
}

/* Tile, List and Detail View Item Renderer CSS Section Ends */
/*

#listBoxContentsubtab1{

    height:100% !important;
    width: 100% !important;


}

#listBoxContentsubtab1 > div
{
    max-height: 400px !important;
    height: auto !important;
    width: 100% !important;
    overflow-y: scroll;
}

.jqx-listitem-state-normal{
    width:100% !important;
}

.jqx-listitem-element{
    margin-top: 4px;
    visibility: visible !important;
    border: 1px solid #EEEEEE;
}

#listBoxContentsubtab1 span{
    visibility: visible !important;
}

.subtab2{
    overflow-y: auto;
}*/

.jqx-listitem-state-normal {
    height: 58px !important;
    position: relative !important;
    background-color: #DFDFDF !important;
    border: 1px solid #BBBBBB !important;
    border-radius: 12px !important;
    float: left !important;

    width: 70% !important;
    /*  padding: 5px !important;
      margin: 5px !important;*/
}

#mrmGanttChart{
    min-height: 285px;
    height: 100%;
    width: 100%;
    z-index: 9;
    /*
        resize: vertical;
    */
}

/************************PAGE STUFF STARTS!!!!!********************/

.masterPage {
    z-index: 100;
    width: 120px;
    height: 160px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    position: relative;
    color: #222;

    border: 1px solid #ccc;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);
    overflow: visible;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: cover;
    background-repeat:no-repeat;
}

.childPages {

    width: 120px;
    height: 160px;
    padding: 0;
    margin-left: 20px;
    margin-top: 20px;
    /*margin: 20px;
    float: left;
    position: relative;
*//*
    padding: 8px;
*/
    color: #222;
    background: transparent;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.childPages > .inner {
    width: 105px;
    height: 130px;
    border-top-right-radius:10px ;
    left: 7px;
    bottom: 2px;
    position: absolute;
    margin: 0px !important;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);
    color: #222;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


/*.childPages .inner:hover {
    text-shadow: 0 0 5px white, 0 0 5px white;
    *//*cursor: pointer;*//*
}*/

.masterPage.odd {
    background-color: #638FDB;
}

.masterPage.even {
    background-color: #B8BFDB;
}

.childPages.odd.inner {
    background-color: #82A2D8;
}

.childPages.even.inner {
    background-color: #C9CDDB;
}


.popupImage{
    position:absolute;
    height:17px;
    top:2%;
    left:80%;
    margin:10px
    -webkit-transition: box-shadow 0.5s ease-in;
    -moz-transition: box-shadow 0.5s ease-in;
    -ms-transition: box-shadow 0.5s ease-in;
    -o-transition: box-shadow 0.5s ease-in;
    transition: box-shadow 0.5s ease-in;
}

.popupImage.urlInjected{
    box-shadow: 0 0 10px white, 0 0 10px white;
}

.popupImage:hover{
    box-shadow: 0 0 10px white, 0 0 10px white;
    cursor:pointer;
}


.masterPage > .type {
    line-height: 1.5em;
    bottom: 20%;
    left:5px;
    font-size: 11px;
    position: absolute;
}


.childPageName {
    margin-top:5px;
    font-size: 15px;
    width: 80%;
    margin-bottom: 40px;
    margin-left: 5px;
    font-family: tahoma;
    font-weight: bold;
    text-shadow: 1px 1px 2px grey;

    color: #FFF;
}

.childPagesText{
    margin:5px;
    font-size : 9px;
    line-height: 8px;
}


.masterPage.rules-opened {
    /*    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;*/
    z-index: 100;
    background: #7894C4;

    height: 420px;
    width: 420px;
    background-repeat:no-repeat;
    background-size: cover;
}

/*.masterPage.is-restored {
     -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);

    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;

    height: 150px;
    width:  106px;

}*/

.open {
    position: absolute;
    /*bottom: -10px;
    left: 5px;
*/
}




.selected {
    border-bottom: 1px solid #d1d1d1;
}

.buttonsHolder{
    background-color: black;
    opacity: 0.6;
    position:absolute;
    top:85%;
    width:100%;
    height:15%;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}




h2.expand {
    cursor:pointer;
    position: absolute;
    right: 5px ;
    bottom: -5px ;
    line-height: 25px;
    height: 15px;
    width: 15px;
    background-image:url('../images/expand.png');
    background-position: -10px -10px;
    display: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/*h2.close:hover{
    cursor:pointer;
    color:black;
}*/

.loading-overlay {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
}

.loading-message {
    z-index: 250;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 31%;
    left: 35%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/************************PAGE STUFF ENDS!!!!!********************/

/************************RULE STUFF START!!!!!********************/

.rule {
    height: 100%;
    width: 100%;
    color: black;
    top: 1px;
    position: absolute;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.rulesFront {
    margin: 0 0 0 55%;
}

/*.rulesText {
    height: 25px;
    width: 125px;
    position: relative;
    margin: 2px;
    padding: 0px;
}*/

.operation {
    padding: 0px;
    width: 41px;
    margin: 0.5px;
}

.groupType {
    margin: 0.5px;
    width: 108px
}

.value {
    margin: 0.5px;
    width: 109px
}

.buttons {
    position: relative;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    color:white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.buttons:hover{
    cursor: pointer;
    text-shadow: 0 0 2px white, 0 0 2px white;
}



.addNewThen {
    font-size: 22px;
    width: 3%;
}

.thenChild {
    position: relative;
    width: 100%;
    border-bottom: 1px dashed white;
    padding: 5px;
}

.then {
    width: 100%;
    z-index: 25;
}

.whenChild {
    position: relative;
    padding-left: 20px;
    margin: 5px;
}

.backButtonClass {
    position: absolute;
    top: 2px;
    right: 4px;
}

h2.close:hover {
    opacity: 0.9;
    color: red;
    text-shadow: 0 0 2px red, 0 0 2px red;

}

h2.close {
    position: absolute;
    top: 0.7%;
    left: 92%;
    z-index: 50;
    line-height: 0px;
    opacity: 1;
    color: darkred;
    font-size: 16px;
    text-shadow: 0 0px 0 darkred;

    -webkit-transition: text-shadow 0.2s ease-in;
    -moz-transition: text-shadow 0.2s ease-in;
    -ms-transition: text-shadow 0.2s ease-in;
    -o-transition: text-shadow 0.2s ease-in;
    transition: text-shadow 0.2s ease-in;
}

img.save:hover {
    box-shadow: 0 0 2px white, 0 0 2px white;
}

img.save {
    line-height: 0px;
    top: 2.1%;
    left: 8%;
    font-size: 15px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    float: left;
    font-weight: bold;
    text-shadow: 0 1px 0 lightgreen;
    height: 17px;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    -ms-transition: box-shadow 0.2s ease-in;
    -o-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.buttons.remove{
    top:10px;
}

.buttons.addCondition{
    top:10px;
}


/************************RULE STUFF ENDS!!!!!********************/
/*for hidden fields and unwanted divs in certain views*/
.hidden {
    visiblity: hidden;
}

/*********************DIMESNION STUFF START!!!!!*****************/

.dimension , .chapter, .assortmentItem{
    text-wrap: normal;
    width: 120px;
    height: 160px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    position: relative;
    background: #888;
    color: #222;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-repeat:no-repeat;

}

.dimension {

    -webkit-border-top-right-radius: 1.2em;
    -moz-border-radius-topright: 1.2em;

}

.chapter.even{
    background-image: linear-gradient(left bottom, #8ebb8b 22%, #afdda9 61%);
    background-image: -o-linear-gradient(left bottom, #8ebb8b 22%, #afdda9 61%);
    background-image: -moz-linear-gradient(left bottom, #8ebb8b 22%, #afdda9 61%);
    background-image: -webkit-linear-gradient(left bottom, #8ebb8b 22%, #afdda9 61%);
    background-image: -ms-linear-gradient(left bottom, #8ebb8b 22%, #afdda9 61%);


}

.chapter.odd{
    background-image: linear-gradient(left bottom, #8ebf8c 22%, #a6d3a2 61%);
    background-image: -o-linear-gradient(left bottom,#8ebf8c 22%, #a6d3a2 61%);
    background-image: -moz-linear-gradient(left bottom,#8ebf8c 22%, #a6d3a2 61%);
    background-image: -webkit-linear-gradient(left bottom,#8ebf8c 22%, #a6d3a2 61%);
    background-image: -ms-linear-gradient(left bottom, ##8ebf8c 22%, #a6d3a2 61%);


}

.assortmentItem.even{
    background-image: linear-gradient(left bottom, #9d8c82 2%, #b8a7a3 51%, #d4a7a5 76%);
    background-image: -o-linear-gradient(left bottom, #9d8c82 2%, #b8a7a3 51%, #d4a7a5 76%);
    background-image: -moz-linear-gradient(left bottom, #9d8c82 2%, #b8a7a3 51%, #d4a7a5 76%);
    background-image: -webkit-linear-gradient(left bottom, #9d8c82 2%, #b8a7a3 51%, #d4a7a5 76%);
    background-image: -ms-linear-gradient(left bottom, #9d8c82 2%, #b8a7a3 51%, #d4a7a5 76%);


}

.assortmentItem.odd{
    background-image: linear-gradient(left bottom, #83736b 2%, #9c8b87 51%, #ba8f8d 76%);
    background-image: -o-linear-gradient(left bottom, #83736b 2%, #9c8b87 51%, #ba8f8d 76%);
    background-image: -moz-linear-gradient(left bottom, #83736b 2%, #9c8b87 51%, #ba8f8d 76%);
    background-image: -webkit-linear-gradient(left bottom, #83736b 2%, #9c8b87 51%, #ba8f8d 76%);
    background-image: -ms-linear-gradient(left bottom, #83736b 2%, #9c8b87 51%, #ba8f8d 76%);


}

.dimension.even{
    background-image: linear-gradient(left bottom, #b0b0ae 40%, #d7d7d7 70%, #d8d8d8 90%);
    background-image: -o-linear-gradient(left bottom, #b0b0ae 40%, #d7d7d7 70%, #d8d8d8 90%);
    background-image: -moz-linear-gradient(left bottom, #b0b0ae 40%, #d7d7d7 70%, #d8d8d8 90%);
    background-image: -webkit-linear-gradient(left bottom, #b0b0ae 40%, #d7d7d7 70%, #d8d8d8 90%);
    background-image: -ms-linear-gradient(left bottom, #b0b0ae 40%, #d7d7d7 70%, #d8d8d8 90%);

   /* background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.42, #98BACC),
        color-stop(0.71, #B7E0F5),
        color-stop(0.86, #DCFFFF)
    );*/


}

.dimension.odd{
    background-image: linear-gradient(left bottom, #aeaeac 40%, #c3c3c1 70%, #d3d3d1 90%);
    background-image: -o-linear-gradient(left bottom, #aeaeac 40%, #c3c3c1 70%, #d3d3d1 90%);
    background-image: -moz-linear-gradient(left bottom, #aeaeac 40%, #c3c3c1 70%, #d3d3d1 90%);
    background-image: -webkit-linear-gradient(left bottom, #aeaeac 40%, #c3c3c1 70%, #d3d3d1 90%);
    background-image: -ms-linear-gradient(left bottom, #aeaeac 40%, #c3c3c1 70%, #d3d3d1 90%);

}

.dimension * {
    margin: 0;
}

.type {

    line-height: 1.5em;
    bottom: 17px;
    left: 0.5em;
    font-size: 11px;
    font-family: tahoma;
    position: absolute;
    word-break: break-all;
    text-shadow: 1px 1px 2px grey;
}

.name {
    font-size: 15px;
    line-height: 1.2em;
    font-family: tahoma;

    word-break: break-all;
    text-shadow: 2px 2px 4px grey;


    color: #FFF;
    width: 80%;
    margin: 7%;
}


/*********************DIMESNION STUFF END!!!!!*****************/

/*************ISOTOPE STUFF START!!******************************/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/*********************ISOTOPE STUFF END!!******************************/

#dialog-confirm{
    display:none;
}

.ui-dialog-titlebar-close{
    background-image: url(../images/_close.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    background-size: 10px 10px;
    border-radius: 4px;
    width: 14px !important;
    height: 14px !important;
    border: 0;
    margin-top: -8px !important;
    margin-right: 3px !important;
    transition: all .1s ease-in;
}

.ui-dialog-titlebar-close:hover{
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.4);
}

.ui-dialog .ui-dialog-buttonpane button{
    border-radius: 4px;
    height:20px;
    border: 0;
    color:#555555;
    transition: all .1s ease-in;
}

.ui-dialog .ui-dialog-buttonpane button:hover{
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.4);
}



.ui-dialog-titlebar {
    text-align: center;
    height: 25px !important;
    font-size: 11px !important;
}

.ui-dialog-title {
    text-align: center !important;
    float: none !important;
}

.ui-dialog-content {
    /*padding: 10px !important;*/
    /*padding-top: 0px !important;*/
    overflow: hidden !important;
    text-align: center;
    line-height: 18px;
}

.ui-widget-header{
    background-color: #343434;
    background-image: none !important;
    color: white;
    border: none !important;
}

.ui-dialog-buttonpane{
    padding:0px !important;
    background-color: #c9c9c9 !important;
}

.ui-widget{
    font-size: 11px; !important
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    margin:0 auto;
}



.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #FFFFFF;
    color: #4D4D4F;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #16A170;
    background-image: linear-gradient(to bottom, #17AA76, #149466);
    background-repeat: repeat-x;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}

/*

.paper-stack {
    z-index: 1;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);
}



.paper-stack::after {
    z-index: -1;
    content: "";
    display: block;
    width: 120px;
    height: 160px;
    background-color: white;
    position: absolute;
    left: 5px;
    top: 5px;
    border: 0px solid #ccc;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.paper-stack::before {
    z-index: -2;
    content: "";
    width: 120px;
    height: 160px;
    background-color: red;
    position: absolute;
    left: -5px;
    top: -5px;
    border: 0px solid black;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.9);

}
*/


.btn-group{
    margin: 0 auto !important;
    top:0px;

}

.btn-group > .btn{
    font-size: 12px;
    line-height: 14px;
    font-family: tahoma;
    /*
        margin: 5px !important;
    */

}

#mainAnimationContainer > .bootstrap-select:not([class*="span"]){
    width: 200px;
    left: 10px;
    float: left;
}

.btn-group > .dropdown-menu {
    font-size: 11px;
    padding: 0;

}

.dropdown-menu > .inner{
    font-size: 12px;
}

.dynatree-ico-ef span.dynatree-icon {
    background-image: url("../images/icons/520610-folder-16.png");
    background-position: 0 0 !important;
    opacity: .8;

}

.dynatree-ico-cf span.dynatree-icon {
    background-image: url("../images/icons/520611-folder_2-16.png");
    background-position: 0 0 !important;
    opacity: .8;

}

.dynatree-exp-el span.dynatree-expander{

}

#viewOptionNew{
    width: 150px;
    height: 24px;
    overflow: hidden;
    float: right;
    right: 10px;
    position: absolute;
    display: none;

}

.then > .buttons{
    padding: 2px 2px 2px 5px;
}
/*
.btn-inverse:hover, .btn-inverse:focus{
    background-color: #343434;
}*/


.jqx-fill-state-pressed{
    background-color: #777777 !important;
}




.pure-button-error {
    background: none repeat scroll 0% 0% rgb(202, 60, 60);
}
.pure-button-success, .pure-button-error, .pure-button-warning, .pure-button-secondary {
    color: white;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button ,  .pure-button1{
    font-family: inherit;
    font-weight: bold;
    padding: 4px 12px 4px 10px !important;
    margin: -2px !important;
    font-size: 11px !important;
    color: rgba(0, 0, 0, 0.8);
    border: 0px none transparent;
    background-color: rgb(245, 245, 245);
    text-decoration: none;
    border-radius: 0px 0px 0px 0px;
    transition: box-shadow 0.1s linear 0s;
}

.pure-button-left {

    border-radius: 10px 0px 0px 10px !important;
}

.pure-button-right {

    border-radius: 0px 10px 10px 0px !important;
}


.pure-button-single {

    border-radius: 10px 10px 10px 10px !important;
}



.pure-button:focus {
    outline: 0px none;
}
a.pure-button:hover, .pure-button-hover, .pure-button:hover, .pure-button1-hover, .pure-button1:hover{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
    color: #343434;
    text-decoration: none;
}

a.pure-button:focus, .pure-button:focus, .calendarButtonPressed{
    background-image: linear-gradient(#777777, #343434);
    color: white;
    transition: box-shadow 0.1s linear 0s;
    text-decoration: none;

}

.pure-button {
    font-family: inherit;
}

.pure-button:active, a.pure-button:active {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .4) inset;
    transition: box-shadow 0.1s linear 0s;
}

.pure-button-active, a.pure-button-active {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.35) inset, 0px 0px 3px rgba(0, 0, 0, 0.2) inset;
    transition: box-shadow 0.1s linear 0s;
}


button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input {
    line-height: normal;
}

html, button, input, select, textarea {
    font-family: sans-serif;
}
body, .pure-g [class*="pure-u"], .pure-g-r [class*="pure-u"] {
    font-family: "proxima-nova",sans-serif;
}
.pure-g-r [class*="pure-u"] {
    font-family: sans-serif;
}
.pure-u-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-5-24, .pure-u-7-24, .pure-u-11-24, .pure-u-13-24, .pure-u-17-24, .pure-u-19-24, .pure-u-23-24 {
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
}
.pure-g-r {
    letter-spacing: -0.31em;
    font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}


#homeListCalendarView{
    margin-left:250px;
}

ul.clearfix
{
    list-style-type:   none ;
    left: 0;
}
li.csIsotopeFilters,li#targetRegionText,li#targetGroupText{
    float: left;
    margin-bottom: 0.2em;
    margin: 0px;
    padding: 0px;
    border:0px;
    left:70px !important;

    font: inherit;
    vertical-align: baseline;


}

.option-combo{
    margin-top: 0px;
    position: absolute;
    width: auto;
}

.option-set{
    width: auto;
}

.targetGroup{
    float: right;
    right: 120px;
}

#targetText{
    padding-top: 3px;
    padding-right: 10px;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;

}
/*
a.pure-button:hover, a.pure-button{
    background-color: white;
    text-decoration: none;
}*/



.btn-custom-mini{
    line-height: 10px;
    height: 10px;
}


.bootstrap-select.btn-group .dropdown-menu li > a {
    border-bottom: 1px solid #dddddd;
    width: 100%;
}


.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
    margin-left: 7px !important;
}



.jqx-icon-arrow-right{
    background-image: url('../images/arr_right.png') !important;
    opacity: .6;
}

.jqx-icon-arrow-left{
    background-image: url('../images/arr-left.png') !important;
    opacity: .6;
}

.jqx-icon-arrow-up{
    background-image: url('../images/arr-up.png') !important;
    opacity: .6;
}

.jqx-icon-arrow-down{
    background-image: url('../images/arr-down.png') !important;
    opacity: .6;
}

#btnSaveAssort{

    float: left;
    background-position: 2px 2px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-left: 10px;
    /*
        background-color: #000000;
    */
}

h2.openRules{
    background-image:url('../images/openRules.png');
    height: 15px;
    width: 15px;
    left: 5px ;
    margin-bottom: 15px;
    position: absolute;
    bottom: -10px;
    left: 5px;
    cursor:pointer;
}

#listBoxContentassetDetails{
    height: 100% !important;
}

.region{
    float:right;

    right: 470px;
}


.selectboxit-container .selectboxit-options {
    height:auto;
    max-height: 150px;
    max-width: 40%;
}

#targetGroupText, #targetRegionText{
    font-size: 11px;
    font-weight: bold;
    font-family: tahoma;
    width: 100px;
    left:0;

}


.option-set {
    width: 300px;
    float: right;
    right: 0px;
}

.selectboxit-container .selectboxit {
    margin: 5px 5px 0 5px !important;
    min-width:150px;
    max-width: 150px;
}

.template{
    min-width:180px !important;
    max-width: 180px !important;
    white-space: normal;
}



.selectboxit-container *{
    font-size: 12px !important;
}

li#targetRegionText , li#targetGroupText{
    margin-top: 3px;
    font-family: tahoma;
    font-weight: bold;
    font-size: 11px;
}

.groupType{
    min-width:100px !important;
    max-width: 110px !important;
}

.operation{
    min-width:50px !important;
    max-width: 50px !important;
}

.value{
    min-width:75px !important;
    max-width: 100px !important;
}


.selectboxit-arrow-container {

    /* Encloses the down arrow in a box */
    border-left: 1px solid #ccc;

}



#showAllPagesBtn{
    width: auto;
    height: 21px;
    position: absolute;
    float: right;
    margin-top: 1px !important;
    right: 10px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;


}

